<h1>PORTFÖLJBOLAG</h1>
<h2>SAGAX</h2>
<p>
    Sagax är ett fastighetsbolag som investerar i kommersiella fastigheter, främst inom segmentet lager och lätt industri.
    Sverige (36%) och Finland (43%) står för den största delen av hyresvärdet, men bolaget är även verksamt i övriga delar av Europa (21%).
    Sagax fastighetsbestånd består av 501 fastigheter med en total uthyrningsbar area om 2 728 000 m<sup>2</sup>.
    Den ekonomiska uthyrningsgraden uppgår till 94%. Sagax hette tidigare Effnet (0407).
</p>