<h1>STRATEGI</h1>
<article>
    <h2>Investeringsregler</h2>
    <h2>Nysparande</h2>
    <p>
        Insättning i portföljen ska göras direkt efter löning och innefattar 5 olika delar.
        <ul>
            <li>Sparad andel av lön</li>
            <li>Utdelning</li>
            <li>Överföring av likvida medel</li>
            <li>Försäljning av fondportföljen</li>
            <li>Lyft belåning upp till 10%</li>
        </ul>
        Målet är att löpande investera 30 000 kr plus belåning och utdelningar varje månad i portföljen.
    </p>
    <h2>Belåning</h2>
    <p>
        Portföljen bör alltid ligga med en belåningsgrad på cirka 10%.
        Hela belåningen ska användas till att investera i <a href="portfoljbolag/xact-hogutdelande">Xact Högutdelande</a>.
        Under kortare perioder kan portföljen belånas ytterligare men aldrig mer än att belåningsgraden efter månadens nysparande återgår till normal belåningsgrad.
    </p>
    <h2>Xact Högutdelande</h2>
    <p>
        Portföljen ska alltid beså av cirka 20% <a href="portfoljbolag/xact-hogutdelande">Xact Högutdelande</a>.
        Fonden följer <a target="_blank" href="https://borsrum.handelsbanken.se/Handelsbankens-Index/Aktieindex/Nordic-Vol-40-Index/">Nordic Low Vol 40 Index</a> med en avgift på 0,3%.
    </p>
</article>