<h1>MILSTOLPAR</h1>
<article>
    <h3>Börsvärde</h3>
    <p style="float:left; text-align:right">
        <span class="done">100 000 kr</span><br>
        200 000 kr<br>
        300 000 kr<br>
        400 000 kr<br>
        500 000 kr<br>
        600 000 kr<br>
        700 000 kr<br>
        800 000 kr<br>
        900 000 kr<br>
        1 000 000 kr<br>
        1 100 000 kr<br>
        1 200 000 kr<br>
        1 300 000 kr<br>
        1 400 000 kr<br>
        1 500 000 kr<br>
        1 600 000 kr<br>
        1 700 000 kr<br>
        1 800 000 kr<br>
        1 900 000 kr
    </p>
    <p style="float:left; padding-left: 100px">2018-11-28</p>
</article>
<app-assets />