<h1>MILSTOLPAR</h1>
<article>
    <h3>Portföljvärde</h3>
    <p style="float:left; text-align:right">
        <span class="done">100 000 kr</span><br>
        200 000 kr<br>
        300 000 kr<br>
        400 000 kr<br>
        500 000 kr<br>
        600 000 kr<br>
        700 000 kr<br>
        800 000 kr<br>
        900 000 kr<br>
        1 000 000 kr
    </p>
    <p style="float:left; padding-left: 100px">2018-11-28</p>
    <h3 style="clear:both">Utdelningsprognos</h3>
    <p style="float:left; text-align:right">
        10 000 kr/år<br>
        20 000 kr/år<br>
        30 000 kr/år<br>
        40 000 kr/år<br>
        50 000 kr/år<br>
        60 000 kr/år<br>
        70 000 kr/år<br>
        80 000 kr/år<br>
        90 000 kr/år<br>
        100 000 kr/år
    </p>
    <h3 style="clear:both">Akumulerad utdelning</h3>
    <p style="float:left; text-align:right">
        50 000 kr<br>
        100 000 kr<br>
        150 000 kr<br>
        200 000 kr<br>
        250 000 kr<br>
        300 000 kr<br>
        350 000 kr<br>
        400 000 kr<br>
        450 000 kr<br>
        500 000 kr<br>
    </p>
    <h3 style="clear:both">Utdelning per månad</h3>
    <table class="w70">
        <tr>
            <td class="split"></td>
            <td class="split w7 center bold">Jan</td>
            <td class="split w7 center bold">Feb</td>
            <td class="split w7 center bold">Mars</td>
            <td class="split w7 center bold">April</td>
            <td class="split w7 center bold">Maj</td>
            <td class="split w7 center bold">Juni</td>
            <td class="split w7 center bold">Juli</td>
            <td class="split w7 center bold">Aug</td>
            <td class="split w7 center bold">Sept</td>
            <td class="split w7 center bold">Okt</td>
            <td class="split w7 center bold">Nov</td>
            <td class="split w7 center bold">Dec</td>
        </tr>
        <tr ng-repeat="row in $ctrl.monthly">
            <td class="right">{{row.goal | number:0}}&nbsp;kr</td>
            <td ng-repeat="month in row.months track by $index" ng-class="month ? 'goal': ''"></td>
        </tr>
    </table>
</article>
<app-assets />