<h1>BEVAKNINGSLISTA</h1>
<article>
    <table class="w40">
        <tr>
            <td>Akelius Residential Pref</td>
            <td>310 SEK</td>
        </tr>
        <tr>
            <td><a href="portfoljbolag/atlas-copco">Atlas Copco</td>
            <td></td>
        </tr>
        <tr>
            <td><a href="portfoljbolag/axfood">Axfood</a></td>
        </tr>
        <tr>
            <td><a href="portfoljbolag/castellum">Castellum</a></td>
        </tr>
        <tr>
            <td><a href="portfoljbolag/dustin-group">Dustin Group</a></td>
        </tr>
        <tr>
            <td>Fortum <img src="assets/img/fi.png" /></td>
            <td>&euro;15</td>
        </tr>
        <tr>
            <td><a href="portfoljbolag/handelsbanken">Handelsbanken</a></td>
        </tr>
        <tr>
            <td>Hemfosa</td>
        </tr>
        <tr>
            <td><a href="portfoljbolag/industrivarden">Industrivärden</a></td>
        </tr>
        <tr>
            <td><a href="portfoljbolag/investor">Investor</a></td>
        </tr>
        <tr>
            <td><a href="portfoljbolag/kungsleden">Kungsleden</a></td>
        </tr>
        <tr>
            <td><a href="portfoljbolag/peab">Peab</a></td>
        </tr>
        <tr>
            <td><a href="portfoljbolag/np3">NP3 Fastigheter</a></td>
        </tr>
        <tr>
            <td>Sampo <img src="assets/img/fi.png" /></td>
        </tr>
        <tr>
            <td><a href="portfoljbolag/skanska">Skanska</a></td>
        </tr>
        <tr>
            <td><a href="portfoljbolag/xact-hogutdelande">XACT Högutdelande</a></td>
        </tr>
    </table>
</article>
<app-assets />