<h1>BEVAKNINGSLISTA</h1>
<article>
    <table class="w30">
        <tr>
            <td>Akelius Residential Pref</td>
            <td class="star">&cir;&cir;&cir;</td>
        </tr>
        <tr>
            <td>Axfood</td>
            <td class="star">&#9679;&#9679;&cir;</td>
        </tr>
        <tr>
            <td>Castellum</td>
            <td class="star">&#9679;&#9679;&cir;</td>
        </tr>
        <tr>
            <td>Handelsbanken</td>
            <td class="star">&#9679;&cir;&cir;</td>
        </tr>
        <tr>
            <td>Hemfosa</td>
            <td class="star">&cir;&cir;&cir;</td>
        </tr>
        <tr>
            <td>Investor</td>
            <td class="star">&#9679;&#9679;&cir;</td>
        </tr>
        <tr>
            <td>Kungsleden</td>
            <td class="star">&#9679;&cir;&cir;</td>
        </tr>
        <tr>
            <td>Sampo</td>
            <td class="star">&cir;&cir;&cir;</td>
        </tr>
        <tr>
            <td>XACT Högutdelande (belåning)</td>
            <td class="star">&#9679;&#9679;&#9679;</td>
        </tr>
    </table>
</article>
<aside>
    <table>
        <tr ng-repeat="asset in $ctrl.assets">
            <td><a href="portfoljbolag/{{asset.id}}">{{asset.asset}}</a></td>
            <td class="right">{{asset.quantity}} st</td>
        </tr>
    </table>
</aside>