<svg width="900" height="400">
    <g ng-repeat="data in $ctrl.data">
        <rect ng-if="data.value2 !== undefined"
              width="12"
              height="{{(data.value1 + data.value2) * $ctrl.scale + 4}}"
              y="{{375 - (data.value1 + data.value2) * $ctrl.scale - 4}}"
              x="{{($index * 30) + 5}}"
              fill="teal"
              stroke="white"
              stroke-width="2" />
        <rect width="12"
              height="{{data.value1 * $ctrl.scale + 2}}" 
              y="{{375 - data.value1 * $ctrl.scale - 2}}"
              x="{{($index * 30) + 5}}" fill="#E65708"
              stroke="white"
              stroke-width="2" />
        <text x="{{$index * 30}}" y="390" font-size="10">{{data.label}}</text>
    </g>
</svg>
