<svg width="100%" height="400">
    <g ng-repeat="data in $ctrl.data">
        <rect ng-if="data.value2 !== undefined"
              width="11"
              height="{{(data.value1 + data.value2) * $ctrl.scale + 4}}"
              y="{{375 - (data.value1 + data.value2) * $ctrl.scale - 4}}"
              x="{{($index * 28) + 5}}"
              fill="#1F3862"
              stroke="white"
              stroke-width="2" />
        <rect width="11"
              height="{{data.value1 * $ctrl.scale + 2}}" 
              y="{{375 - data.value1 * $ctrl.scale - 2}}"
              x="{{($index * 28) + 5}}" fill="#DF1E32"
              stroke="white"
              stroke-width="2" />
        <text font-size="9" font-family="Arial" transform="translate({{$index * 28}},390)">{{data.label}}</text>
    </g>
</svg>
