<svg ng-attr-width="{{$ctrl.width}}" ng-attr-height="{{$ctrl.height}}">
    <g ng-repeat="row in $ctrl.rows">
        <line stroke="grey"
                stroke-width="1"
                x1="30"
                ng-attr-y1="{{$ctrl.pixel(($ctrl.height - 25.5) - row * $ctrl.scale)}}"
                x2="1000"
                ng-attr-y2="{{$ctrl.pixel(($ctrl.height - 25.5) - row * $ctrl.scale)}}" />
        <text font-size="11" font-family="Arial" text-anchor="end" ng-attr-transform="translate(20, {{$ctrl.height - 21.5 - row * $ctrl.scale}})">{{row}}</text>
    </g>
    <g ng-repeat="data in $ctrl.data">
        <rect ng-if="data.value3 !== undefined"
            width="9"
            ng-attr-height="{{(data.value1 + data.value2 + data.value3) * $ctrl.scale}}"
            ng-attr-y="{{($ctrl.height - 25) - (data.value1 + data.value2 + data.value3) * $ctrl.scale}}"
            ng-attr-x="{{$ctrl.step($index, 40)}}"
            fill="#45B9C6" />
        <rect ng-if="data.value2 !== undefined"
              width="9"
              ng-attr-height="{{(data.value1 + data.value2) * $ctrl.scale}}"
              ng-attr-y="{{($ctrl.height - 25) - (data.value1 + data.value2) * $ctrl.scale}}"
              ng-attr-x="{{$ctrl.step($index, 40)}}"
              fill="#1F3862" />
        <rect width="9"
              ng-attr-height="{{data.value1 * $ctrl.scale}}" 
              ng-attr-y="{{($ctrl.height - 25) - data.value1 * $ctrl.scale}}"
              ng-attr-x="{{$ctrl.step($index, 40)}}"
              fill="#DF1E32" />
        <text font-size="11" font-family="Arial" ng-attr-transform="translate({{$ctrl.step($index, 38)}},{{$ctrl.height - 10}})">{{data.label}}</text>
    </g>
</svg>
