@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@import url('https://fonts.googleapis.com/css?family=Oswald:700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    margin: 0 auto;
    padding: 16px;
    max-width: 1200px;
    font-family: 'Open Sans';
    font-size: 14px;
}

article {
    width: 80%;
    float:left;
}

h1 {
    font-family: 'Oswald';
    font-size: 2.6rem;
    color: #1F3862;
    text-transform: uppercase;
}

h2 {
    font-family: 'Oswald';
    font-size: 2.0rem;
    color: #DF1E32;
}

h3 {
    font-family: 'Oswald';
    font-size: 1.4rem;
    color: #1F3862;
}

aside {
    width: 20%;
    float: right;
}

.right {
    float: right;
}

table {
    border-collapse: collapse;
}

a {
    color: #009ECF;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

th {
    text-align: left;
}

td {
    vertical-align: top;
}

.fixed {
    width: 150px;
}

.split {
    border-bottom: solid 1px #999;
}