@import url('https://fonts.googleapis.com/css?family=Roboto:300,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
    margin: 0 auto;
    padding: 16px;
    width: 1200px;
    font-family: 'Open Sans';
    font-size: 14px;
}

article {
    width: 70%;
    float:left;
}

svg {

}

h1 {
    font-family: 'Oswald';
    font-size: 2.2rem;
    color: #1F3862;
    text-transform: uppercase;
}

h2 {
    font-family: 'Oswald';
    font-size: 1.8rem;
    color: #DF1E32;
}

h3 {
    font-family: 'Oswald';
    font-size: 1.2rem;
    color: #1F3862;
}

aside {
    width: 20%;
    float: right;
    padding: 5px 20px;
    border-left: solid 10px #FFDC00;
}

div.right {
    float: right;
}

table {
    width: 100%;
    font-family: 'Roboto';
    font-size: 0.8rem;
    border-collapse: collapse;
}

a {
    font-weight: 400;
    color: #07F;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

th {
    text-align: left;
}

td {
    vertical-align: top;
}

.fixed {
    width: 150px;
}

.padding {
    padding: 10px 5px;
}

.split {
    border-bottom: solid 1px #CCC;
}

.split-top {
    border-top: solid 1px #CCC;
}


.bold {
    font-weight: 700;
}

.month {
    border-bottom: solid 10px white;
}

th.right {
    text-align: right;
}

td.right {
    text-align: right;
}

.text {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 0.8rem;
    padding: 4px 0px 0px 0px;
}

.w5 { width: 5%; }
.w10 { width: 10%; }
.w15 { width: 15%; }
.w20 { width: 20%; }
.w25 { width: 25%; }
.w30 { width: 30%; }
.w35 { width: 35%; }
.w40 { width: 40%; }
.w45 { width: 45%; }
.w50 { width: 50%; }
.w55 { width: 55%; }
.w60 { width: 60%; }
.w70 { width: 70%; }
.w75 { width: 75%; }
.w80 { width: 80%; }

.active {
    opacity: 1.0 !important;
}

.star {
    font-size: 20px;
    line-height: 0.8rem;
}

.button_year {
    font-family: 'Oswald';
    font-size: 1.8rem;
    color: #DF1E32;
    background: transparent;
    border: 0;
    padding: 0 20px 0 0;
    margin: 0;
    outline: none;
    opacity: 0.3;
    cursor: pointer;
}

.button_month {
    font-family: 'Oswald';
    font-size: 1.2rem;
    color: #1F3862;
    text-transform: uppercase;
    background: transparent;
    border: 0;
    padding: 0 20px 0 0;
    margin: 0;
    outline: none;
    opacity: 0.3;
    cursor: pointer;
}