body {
    margin: 0 auto;
    max-width: 1200px;
}

article {
    width: 80%;
    float:left;
}

h1 {
    font-family: Impact;
    font-weight: normal;
    font-size: 32px;
}

aside {
    width: 20%;
    float: right;
}

.right {
    float: right;
}

table {
    border-collapse: collapse;
}

a {
    color: #009ECF;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

th {
    text-align: left;
}

td {
    vertical-align: top;
}

.fixed {
    width: 150px;
}

.split {
    border-bottom: solid 1px #999;
}