<h1>UTDELNINGAR</h1>
<article>
    <!--<app-diagram data="$ctrl.diagram" rows="$ctrl.rows" width="700" height="350" />-->
    <table>
        <tr class="split">
            <td class="w40"></td>
            <td class="w20 right bold">Datum</td>
            <td class="w20 right bold">Antal</td>
            <td class="w20 right bold">Utdelning</td>
        </tr>
    </table>
    <table>
        <tr ng-repeat="dividend in $ctrl.dividends" class="hover">
            <td class="w40"><a href="portfoljbolag/{{dividend.asset.id}}">{{dividend.asset.name}}</a></td>
            <td class="w20 right">{{dividend.date}}</td>
            <td class="w20 right">{{dividend.quantity}} st</td>
            <td class="w20 right">{{dividend.amount | number:0}} kr</td>
        </tr>
    </table>
</article>
<app-assets />