<h1>UTDELNINGSPROGNOS</h1>
<article>
    <table>
        <tr>
            <td class="w40"></td>
            <td class="w20 right bold padding">Antal</td>
            <td class="w20 right bold padding">Utdelning</td>
            <td class="w20 right bold padding">Summa</td>
        </tr>
    </table>
    <table>
        <tr ng-repeat="month in $ctrl.months">
            <td class="split padding">
                <div class="bold">{{month.name}}</div>
                <table>
                    <tr ng-repeat="stock in $ctrl.data" ng-if="stock.dividends[month.id] !== undefined">
                        <td class="w40"><a href="portfoljbolag/{{stock.id}}">{{stock.stock}}</a></td>
                        <td class="w20 right">{{stock.quantity}} st</td>
                        <td class="w20 right">{{stock.dividends[month.id] | number:2}} {{stock.currency}}</td>
                        <td class="w20 right">{{(stock.dividends[month.id] * stock.quantity) | number:2}} {{stock.currency}}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td class="w80"></td>
            <td class="bold padding w20 right">Summa: {{$ctrl.getTotal() | number:2}} kr</td>
        </tr>
    </table>
</article>
<aside>
    <div ng-repeat="stock in $ctrl.data">
        <a href="portfoljbolag/{{stock.id}}">{{stock.stock}}</a>
        <span class="right">{{stock.quantity}} st</span>
    </div>
</aside>