<h1>Ränta på ränta</h1>
<article>
    Månadssparande:
    <input type="range" min="1000" max="30000" value="1000" step="1000" ng-model="$ctrl.month" ng-change="$ctrl.update()">
    <input ng-model="$ctrl.month" ng-change="$ctrl.update()" /><br>
    Ränta:
    <input type="range" min="1" max="30" value="8" step="1" ng-model="$ctrl.interest" ng-change="$ctrl.update()">
    <input ng-model="$ctrl.interest" ng-change="$ctrl.update()" /><br>
    Startbelopp:
    <input type="range" min="0" max="2000000" value="100000" step="10000" ng-model="$ctrl.start" ng-change="$ctrl.update()">
    <input ng-model="$ctrl.start" ng-change="$ctrl.update()" /><br>
    Tidshorisont:
    <input type="range" min="1" max="30" value="25" step="1" ng-model="$ctrl.years" ng-change="$ctrl.update()">
    <input ng-model="$ctrl.years" ng-change="$ctrl.update()" /><br>
    <app-diagram data="$ctrl.diagram" rows="$ctrl.rows" suffix="kr" width="840" height="350" label1="Sparande" label2="Avkastning"></app-diagram>
    <br><br>
    <table>
        <tr class="split">
            <th>År</th>
            <th class="right">Sparande</th>
            <th class="right">Ack. sparande</th>
            <th class="right">Avkastning</th>
            <th class="right">Ack. avkastning</th>
            <th class="right">Slutvärde</th>
        </tr>
        <tr ng-repeat="year in $ctrl.diagram" ng-if="$index > 0">
            <td>{{year.label}}</td>
            <td class="right">{{$ctrl.month * 12}} kr</td>
            <td class="right">{{$ctrl.month * 12 * $index}} kr</td>
            <td class="right">{{year.ret | number:0}} kr</td>
            <td class="right">{{year.value2 | number:0}} kr</td>
            <td class="right">{{year.value1 + year.value2 | number:0}} kr</td>
        </tr>
    </table>
</article>
