<h1>JOHANNISSON</h1>
<article>
    <a href="portfoljbolag">Portföljbolag</a><br>
    <a href="utdelningsprognos">Utdelningsprognos</a><br>
    <a href="manadsrapport">Månadsrapport</a><br>
    <a href="transaktioner">Transaktioner</a><br>
    <a href="bevakningslista">Bevakningslista</a>
</article>
<aside>
    <table>
        <tr ng-repeat="asset in $ctrl.assets">
            <td><a href="portfoljbolag/{{asset.id}}">{{asset.stock}}</a></td>
            <td class="right">{{asset.quantity}} st</td>
        </tr>
    </table>
</aside>