<h1>JOHANNISSON</h1>
<article>
    <a href="portfoljbolag">Portföljbolag</a><br>
    <a href="strategi">Strategi</a><br>
    <a href="utdelningsprognos">Utdelningsprognos</a><br>
    <br>
    <a href="manadsrapport">Månadsrapport</a><br>
    <a href="arsrapport">Årsrapport</a><br>
    <br>
    <a href="transaktioner">Transaktioner</a><br>
    <a href="utdelningar">Utdelningar</a><br>
    <a href="milstolpar">Milstolpar</a><br>
    <br>
    <a href="bevakningslista">Bevakningslista</a>
</article>
<app-assets />